# sublime
# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
*.sublime-project

# sftp configuration file
sftp-config.json

# project specific files and directories
node_modules
bower_components
.sass-cache
_src/
debug
build
Gemfile.lock