---
layout: page
title: Archive
---

<section id="archive">
  {%for post in site.posts %}
  {% capture cyear %}{{ site.time | date: '%Y' }}{% endcapture %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
  {% unless post.next %}
  {% if cyear != year %}
  <h2>{{ year }}</h2>
  {% else %}
  <h2>This year's posts</h2>
  {% endif %}
  <ul aria-label="blog posts sorted by date, newest first">
  {% else %}
  {% if year != nyear %}
  </ul>
  <h2>{{ year }}</h2>
  <ul>
  {% endif %}
  {% endunless %}
  <li>
&rarr;
<a href="{{ post.url }}/">{{ post.title }} <div itemscope itemtype="http://schema.org/Article">
  <time itemprop="datePublished" datetime="{{ post.date | date: "%Y-%m-%d" }}" class="date">
    {{ post.date | date: "%B %-d"}}
  </time>
</div></a>
</li>
  {% endfor %}
  </ul>
</section>