/**
* This mixin outputs bullet proof @font-face syntax.
* $args : list of offsets and values
*/

@mixin web_fonts (
  $fonts,
  $path_to_font,
  $font-style: normal, 
  $font-weight: normal
  ) {
  @each $font in $fonts {
    @font-face {
      font-family: #{$font};
      font-style: #{$font-style}; 
      font-weight: #{$font-weight};
      src: url('#{$path_to_font}/#{$font}.eot'); /* IE9 Compat Modes */
      src: url('#{$path_to_font}/#{$font}?#iefix') format('embedded-opentype'), /* IE6-IE8 */
           url('#{$path_to_font}/#{$font}.woff') format('woff'), /* Modern Browsers */
           url('#{$path_to_font}/#{$font}.ttf')  format('truetype'), /* Safari, Android, iOS */
           url('#{$path_to_font}/#{$font}.svg#svgFontName') format('svg'); /* Legacy iOS */
    }
  }
}