<div class="social">
  <ul aria-label="social media and RSS links">
    <li>
      <a href="https://twitter.com/johanvdr" class="icon icon--twitter"><span class="screenreader">@johanvdr on Twitter</span></a>
    </li>
    <li>
      <a href="http://be.linkedin.com/pub/johan-van-den-rym/3/b99/a4a" class="icon icon--linkedin"><span class="screenreader">Johan Van den Rym on Linkedin</span></a>
    </li>
    <li>
      <a href="/blog_feed.xml" class="icon icon--rss"><span class="screenreader">RSS feed of blog posts</span></a> 
    </li>
  </ul>
</div>