---
layout: default
---
<div class="page page--home">
  <div class="head">
    <header>
      <a href="/">
        <h1>{{ site.name }}<span>Thoughts about code and design.</span></h1>
      </a>
    </header>
    {% include navigation.html %}
    {% include social.html %}
  </div>

{% assign content = post.content %}
{% assign post = site.posts.first %}

  <div class="intro">
    <div class="logo">
      <div class="logo__front"></div>
      <div class="logo__back">
        <div class="logo--wrap">
          <div class="logo--vcenter"><p>I am a Front-end developer with a knack for UX, Design, Mobile, Semantics and Accessibility.</p>
         </div>
        </div>
      </div>
    </div>
  </div>
  <main role="main" id="main">
    <article>
      <header>
        <a href="{{ root_url }}{{ post.url }}">
          <h1>{% if post.title %}{{ post.title }}{% endif %}</h1>
        </a>
        <time datetime="{{ post.date |  date: "%F" }}" class="date">
        {{ post.date | date: "%d %b %Y"}}
        </time>
      </header>
      <div class="entry">
        {% if post.teaser %}<p>{{ post.teaser }}</p>{% endif %}
      </div>
      <p class="read-more"><a class="read-more__link" href="{{ root_url }}{{ post.url }}">Continue reading</a></p>
    </article>
    <p>Interested in older posts? <a class="read-more__link" href="/archive">Browse the archive</a></p>
  </main>
  {% include footer.html %}
</div>
