---
layout: default
---
<div class="page page--home">
  {% include header.html %}
  {% assign content = post.content %}
  {% assign post = site.posts.first %}
  <main role="main" id="main">
    <article>
      <header>
        <a href="{{ root_url }}{{ post.url }}">
          <h1>{% if post.title %}{{ post.title }}{% endif %}</h1>
        </a>
        <div itemscope itemtype="http://schema.org/Article">
          <time itemprop="datePublished" datetime="{{ post.date |  date: "%d-%m-%Y" }}" class="date">
            {{ post.date | date: "%B %-d"}}
          </time>
        </div>
      </header>
      <div class="entry">
        {% if post.teaser %}<p>{{ post.teaser }}</p>{% endif %}
        <p class="read-more"><a class="read-more__link" href="{{ root_url }}{{ post.url }}">Continue reading</a></p>
      </div>
      
    </article>
  </main>
  
  {% include footer.html %}
</div>
