---
layout: default
---
<div class="page page--home">
  {% include header.html %}
  {% assign content = post.content %}
  {% assign post = site.posts.first %}
  <main role="main" id="main">
    <article>
      <header>
        <a href="{{ root_url }}{{ post.url }}">
          <h1>{% if post.title %}{{ post.title }}{% endif %}</h1>
        </a>
        <div itemscope itemtype="http://schema.org/Article">
          <time itemprop="datePublished" datetime="{{ post.date |  date: "%d-%m-%Y" }}" class="date">
            {{ post.date | date: "%B %-d"}}
          </time>
        </div>
      </header>
      <div class="entry">
        {% if post.content %}{{ post.content }}{% endif %}
      <div class="previous">
      {% for post in site.posts %}
        {% if forloop.index == 2 %}
        <a href="{{ post.url }}">{{ post.title }} &rarr;</a>
        {% endif %}
      {% endfor %}
  </div>
      </div>
      
    </article>
  </main>
  
  {% include footer.html %}
</div>
