---
layout: default
---
<div class="page page--home">
  {% include header.html %}
<div class="main">
<main role="main" id="main">
<article class="post">
<header>
<h1>{{ page.title }}</h1>
{{ page.teaser }}
</header>

{{ content }}
</article>
<nav class="page-navigation" aria-label="blog posts navigation" role="navigation">
<div>
{% if page.next.url %}
<a href="{{page.next.url}}" title="Newer Post:
{{page.next.title}}" class="page-navigation__link page-navigation__link--right" rel="next">&larr; {{page.next.title}}</a>
{% endif %}
{% if page.previous.url %}
<a href="{{page.previous.url}}" title="Older Post:
{{page.previous.title}}" class="page-navigation__link page-navigation__link--left" rel="prev">{{page.previous.title}} &rarr;</a>
{% endif %} 
</div>
</nav> 
</main>
</div>
{% include footer.html %}
</div>
