$susy: (
  output: float,
  math: fluid,
  columns: 12,
  gutters: 1,
  gutter-position: inside
);

body {
  
  @include container($bp-xl-2);
}
.page {
  @include full();
  // header
  .head {
    @include breakpoint($bp-med) {
      display: table;
      width: 100%;
    }
    @include breakpoint($bp-med) {
      > header,
      [role=navigation],
      .social  {
        display: table-cell;
        vertical-align: bottom;
        float: none !important;
      }
    }
  }
  // footer
  .footer {
    @include full();
  }
}

// home page
.page--home {
  .head {
    header {
      @include breakpoint($bp-med) {
        @include span(5);
        padding-left: 0 !important;
      }
    }
    [role=navigation] {
      @include breakpoint($bp-med) {
        @include span(5 at 6);
        padding: 0 !important;
      }
    }
    .social {
      padding: 0 !important;
      @include breakpoint($bp-med) {
        @include span(2 at 8);
      }
    }  
  }
  .intro {
    margin: 0 0 0.5em 0;
    @include breakpoint($bp-med) {
      @include span(5);
      padding-left: 0;
    }
  }
  main {
    @include breakpoint($bp-med) {
      @include span(7 at 6);
      padding-left: 0;
    }
  }
}

// default page
.page--default {
  .head > header {
    @include breakpoint($bp-med) {
      @include span(5);
      padding-left: 0;
    }
  }
  .head [role=navigation] {
    @include breakpoint($bp-small-3) {
      @include span(4 at 9);
    }
    @include breakpoint($bp-med) {
      @include span(5 at 6);
    }
    @include breakpoint($bp-large-2) {
      @include span(4 at 6);
    }
  }
  .social {
    @include breakpoint($bp-large-2) {
      @include span(2 at 8);
    }
  }
  .main {
    @include container($bp-xl-2);
    main {
      @include full();
    }
  }
}
